html,
body {
  font-size: 12px;
  font-family: avenir, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background: url(http://monroeistanbul.com/files/content/img_0021_94178.jpg) /* 0 0 / cover */
}


.img1 {
  display: none;
}

ul{
  float:right;
}

li{
  display: inline-block;
  padding-right:30px;
  padding-top:8px;
  color:#fff;
}

#nav{
  width:100%;
  height:45px;
  font-size:12px;
  text-align:right;
  position:fixed;
  background-color:#000;
  opacity:0.9;
  padding:12px 0;
}

#bgimage{
  width:100%;
  margin:0;

}

.col{
  width:29%;
  float:left;
  margin:20px;
}

#middle{
  text-align:center;
  padding-top:500px;
}

#logo{
  width:100px;
  align:left;
  margin:0;
  padding-left:30px;
  display:inline;
  float:left;
}

.sec1{
  color:#ffffff;
  background-color:#000000;
  height:300px;
}

.sec2{
  color:#000000;
  background-color:#ffffff;
  height:300px;
}
