html,
body {
  font-size: 10px;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background: url(https://cdn.pixabay.com/photo/2017/05/29/16/41/background-2354151_1280.jpg) /* 0 0 / cover */;
}

img {
  display: none;
}

ul{
  float:right;
}

li{
  display: inline-block;
  padding-right:10px;
}
